<?xml version="1.0" encoding="utf-8"?>
<!-- Clean robot description only. Gazebo and ros2_control live in Robby_v1.gazebo.xacro. -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="Robby_v1">
  <xacro:arg name="mesh_dir" default="/home/aditya/ros2_ws/ITQ_robby/src/robby_description/meshes" />

  <xacro:include filename="Robby_v1.core.xacro" />
  <xacro:robby_robot mesh_dir="$(arg mesh_dir)" />
</robot>
