<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="Robby_v1">
  <xacro:arg name="mesh_dir" default="/home/aditya/ros2_ws/ITQ_robby/src/robby_description/meshes" />
  <xacro:arg name="controllers_file" default="" />
  <xacro:arg name="imu_update_rate" default="100.0" />

  <xacro:include filename="Robby_v1.core.xacro" />

  <xacro:macro name="ros2_control_position_joint" params="joint_name">
    <joint name="${joint_name}">
      <command_interface name="position" />
      <state_interface name="position" />
      <state_interface name="velocity" />
    </joint>
  </xacro:macro>

  <xacro:macro name="ros2_control_velocity_joint" params="joint_name">
    <joint name="${joint_name}">
      <command_interface name="velocity" />
      <state_interface name="position" />
      <state_interface name="velocity" />
    </joint>
  </xacro:macro>

  <xacro:robby_robot mesh_dir="$(arg mesh_dir)" />

  <gazebo reference="imu_link">
    <sensor name="imu_sensor" type="imu">
      <always_on>1</always_on>
      <update_rate>$(arg imu_update_rate)</update_rate>
      <topic>/imu/data</topic>
    </sensor>
  </gazebo>

  <ros2_control name="RobbyGazeboSystem" type="system">
    <hardware>
      <plugin>gz_ros2_control/GazeboSimSystem</plugin>
    </hardware>

    <xacro:ros2_control_position_joint joint_name="f_left_steer" />
    <xacro:ros2_control_position_joint joint_name="f_right_steer" />
    <xacro:ros2_control_position_joint joint_name="b_leftsteer" />
    <xacro:ros2_control_position_joint joint_name="b_rightsteer" />

    <xacro:ros2_control_velocity_joint joint_name="f_leftwheel" />
    <xacro:ros2_control_velocity_joint joint_name="f_rightwheel" />
    <xacro:ros2_control_velocity_joint joint_name="b_leftwheel" />
    <xacro:ros2_control_velocity_joint joint_name="b_rightwheel" />
  </ros2_control>

  <gazebo>
    <plugin
      filename="libgz_ros2_control-system.so"
      name="gz_ros2_control::GazeboSimROS2ControlPlugin">
      <ros>
        <namespace>/</namespace>
      </ros>
      <robot_param>robot_description</robot_param>
      <robot_param_node>robot_state_publisher</robot_param_node>
      <controller_manager_name>controller_manager</controller_manager_name>
      <parameters>$(arg controllers_file)</parameters>
    </plugin>
  </gazebo>
</robot>
